body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #d3d3d3;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
	text-align: center;
}

.background {
	/* The image used */
	background-image: url("./imgs/burning-fire.jpg");

	/* Full height */
	height: 100vh;
	width: 100vw;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.leaflet-container {
	min-height: 100vh;
	width: 100%;
}

.landing-box {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	width: 33vw;
	top: 50vw;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

@media screen and (max-width: 800px) {
	.landing-box {
		width: 100vw;
	}
}

.flex-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 30vh;
	font-size: 2rem;
	color: white;
	text-shadow: -1px -1px 1px #df431ca2, 1px -1px 1px #fc2509a2, -1px 1px 1px rgb(52, 58, 64),
		1px 1px 1px rgb(52, 58, 64);
}

.flex-landing {
	display: flex;
	flex-direction: column;
	height: 64vh;
	width: 100vw;
	align-items: center;
	justify-content: flex-start;
}

.flex-bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 6vh;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
}
